node_modules/
.vscode/
.github/
.idea

coverage/

docs/

public/

/*.tgz

*.gif
*.png
index.html
*.config.ts
*.config.js

.eslintrc.cjs
.nvmrc

src/docs/
src/fp-money/*.ts
src/fp-money/*.vue
src/fp-money/*.js
