.slide-left-enter-active,
.slide-left-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter-from {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-to {
  opacity: 0;
  transform: translate(-2em, 0);
}
