$color-font: #666666 !default;
$color-border: #dcdee2 !default;
$color-background: #efefef !default;
$color-disabled-background: #dcdee2 !default;
$color-white: #ffffff !default;

$height: 30px !default;
$border-radius: 4px !default;

$spacing: 20px !default;
$spacing-half: 10px !default;
$spacing-quarter: 5px !default;

.fpm {
  display: flex;
  flex-direction: row;
  width: auto;
  -webkit-font-smoothing: antialiased;

  .fpm-currency, .fpm-value, .fpm-select {
    color: $color-font;
    display: block;
    height: $height;
    padding: $spacing-quarter $spacing-half;
    margin: 0px;
    outline: 0;
    box-sizing: border-box;

    &::placeholder {
      color: $color-border;
    }
  }

  > * {
    border-top: 1px solid $color-border;
    border-left: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }

  :first-child {
    border-top-left-radius: $border-radius !important;
    border-bottom-left-radius: $border-radius !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  :last-child {
    border-right: 1px solid $color-border;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
  }

  .fpm-currency {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex: 0 0 auto;
    background-color: $color-background;
    user-select: none;
  }
  
  .fpm-value {
    display: flex;
    flex: 1 1 auto;
    min-width: 70px;
    width: 100%;
    border-radius: initial;
    text-align: right;
    transition: all 0.3s ease-in-out;
  }
  
  .fpm-select {
    position: relative;
    flex: 0 0 65px;
    width: 65px;
    appearance: none;
    overflow: hidden;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1024' height='640'><path d='M1017 68L541 626q-11 12-26 12t-26-12L13 68Q-3 49 6 24.5T39 0h952q24 0 33 24.5t-7 43.5z'></path></svg>") 85%/10px 5px no-repeat;
    background-color: $color-background;
    transition: all 0.3s ease-in-out;
  }

  &.disabled {
    .fpm-currency {
      cursor: pointer;
    }

    .fpm-value:disabled {
      cursor: pointer;
      background-color: $color-disabled-background;
    }

    .fpm-select:disabled {
      cursor: pointer;
      flex: 0 0 50px;
      width: 50px;
      background: none;
      background-color: $color-disabled-background;
    }
  }

  &.display-only {
    .fpm-currency {
      display: flex;
      cursor: pointer;
      font-weight: normal;
      flex: 0 0 auto;
      width: auto;
      height: auto;
      padding: 0 2px 0 0;
      margin: 0;
      background-color: transparent;
      border: none;
    }

    .fpm-value {
      text-align: left;
      appearance: none;
      display: flex;
      cursor: pointer;
      outline: none;
      text-indent: 0;
      box-sizing: border-box;
      flex: 0 0 auto;
      min-height: auto;
      height: auto;
      min-width: 0px;
      width: auto;
      max-width: 999px;
      padding: 0;
      margin: 0;
      background-color: transparent;
      border: none;
    }

    .fpm-select {
      display: none;
    }
  }
}