.fpm {
  display: flex;
  -webkit-font-smoothing: antialiased;

  .fpm-currency, .fpm-value, .fpm-select {
    color: #666666;
    display: block;
    height: 30px;
    padding: 5px 10px;
    margin: 0px;
    outline: 0;
    box-sizing: border-box;
    background-color: #ffffff;

    &::placeholder {
      color: #DCDEE2;
    }
  }

  .fpm-currency {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex: 0 0 auto;
    background-color: #efefef;
    border: 1px solid #DCDEE2;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    user-select: none;
  }
  
  .fpm-value {
    flex: 1 1 auto;
    min-width: 70px;
    text-align: right;
    border-top: 1px solid #DCDEE2;
    border-bottom: 1px solid #DCDEE2;
  }
  
  .fpm-select {
    position: relative;
    flex: 0 0 70px;
    width: 70px;
    appearance: none;
    overflow: hidden;
    border: 1px solid #DCDEE2;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1024' height='640'><path d='M1017 68L541 626q-11 12-26 12t-26-12L13 68Q-3 49 6 24.5T39 0h952q24 0 33 24.5t-7 43.5z'></path></svg>") 85%/10px 5px no-repeat;
    background-color: #efefef;
  }
}